
.rounded{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.weatherDataCont{
	background-color: #3A3A3A;
}
.weatherExtraInfoCont{
	background-color: #000;
}
.weatherTemperatureCont{
	background-color: #144B55;
}